/* ============================= */
/* ======== LAYOUT ============= */
/* ============================= */
.container {
    display: flex;
    width: 100%;
    height: 92vh;
}

/* ============================= */
/* ======= COMPANY INFO ========= */
/* ============================= */
.company-info {
    flex: 1;
    background-color: var(--kolor-tla);
    color: var(--kolor-akcentu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px var(--kolor-cieni);
}

.company-info h1 {
    font-size: 3em;
    margin: 0;
    font-family: "Michroma", sans-serif;
    font-weight: 600;
    color: var(--kolor-akcentu);
}

.company-info p {
    font-size: 1.2em;
    margin: 10px 0 0;
    color: var(--kolor-tekstu);
    font-style: italic;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

/* ============================= */
/* ===== MAIN SLIDER =========== */
/* ============================= */
.main_slider {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: var(--kolor-tla);
}

.main_slider-container {
    display: flex;
    transition: transform 5s ease-in-out;
    height: 100%;
}

.main_slide {
    min-width: 33.33%;
    height: 100%;
    opacity: 0.7;
}

.main_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_slide:hover {
    opacity: 1;
}

/* ============================= */
/* ===== CAR INFO ============== */
/* ============================= */
.car-info {
    flex: 1;
    background-color: var(--kolor-tla);
    color: var(--kolor-naglowkow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.car-info h1 {
    font-size: 2em;
    margin: 0;
    font-family: "Michroma", sans-serif;
    font-weight: 600;
}

.car-info p {
    font-size: 1.2em;
    margin: 10px 0 0;
    color: var(--kolor-tekstu);
    font-style: italic;
    font-weight: 300;
}

/* ============================= */
/* ========= SLIDER ============ */
/* ============================= */
.slider {
    flex: 2;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: var(--kolor-tla);
    cursor: pointer;
}

.slider-container {
    display: flex;
    transition: transform 2.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 50%;
    height: 100%;
    flex-shrink: 0;
    transition: transform 2.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nawigacja slidera */
.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.slider-nav.left { left: 10px; }
.slider-nav.right { right: 10px; }

.play-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.play-button:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Wskaźniki slidera */
.slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.indicator {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.indicator.active {
    background-color: #717171;
}

/* ============================= */
/* ======== SECTIONS =========== */
/* ============================= */
.section-header {
    padding: 100px 0 1vh 10vw;
    padding-bottom: 0!important;
}
.section_container h1, 
.section-header h1 {
    font-size: 2.5em;
    font-family: "Michroma", sans-serif;
    padding: 3vh 3vw;
    color: var(--kolor-akcentu);
}
.section-header p {
    font-style: italic;
    
}

.section_container {
    width: 100%;
    padding: 5vh 8vw;
    box-sizing: border-box;
    scroll-margin-top: 60px;
    box-shadow: 0 2px 4px var(--kolor-cieni);
    padding-top: 0!important;
}
.section_container button {
  height: 60px;
  line-height: 30px;
  width: 300px;
  background-color: var(--kolor-tla);
  color: var(--kolor-akcentu);
  font-family: "Michroma", sans-serif;
  border: 2px solid var(--kolor-akcentu);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.section_container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Michroma", sans-serif;
  color: var(--kolor-akcentu);
  padding: 8vw 8vh;
}

.section-header div, button:hover {
  background-color: var(--kolor-akcentu);
  color: var(--kolor-tla);
  border: 2px solid var(--kolor-tla);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.round {
  border-radius: 10px;
}
.in-grid {
  text-align: center;
    border-radius: 12px;
    cursor: pointer;
    width: 15vw;
    min-height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.section_container p {
      font-size: 1.3rem;
      text-align: justify;
      text-justify: inter-word;
}
.section-header p,strong{
    color: var(--kolor-akcentu);
    font-weight: bolder;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    min-height: 80vh;
}
.parallax {
  min-height: 60vw;
  background-attachment: fixed; 

  background-repeat: no-repeat;
  background-size: cover;
}
.team {
  /* background-image: url('../img/us.jpg'); /* Twoje tło */
    /* opacity: 0.6; */
  /* min-height: 30vw; */
  /* background-position: center; */ 
    margin:0 auto;
    min-width: 100vw;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}
.team video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.main-one {
  background-image: url('../img/parallax1.jpg'); /* Twoje tło */
  opacity: 0.6;
  min-height: 30vw;
  background-position: center;
}


/* ============================= */
/* ======== SERVICES =========== */
/* ============================= */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1vw;
    justify-content: center;
    justify-items: center;
    align-items: start;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.service-tile {
    background: #1e1f23;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    cursor:copy;
    width: 15vw;
    min-height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.service-tile:hover {
    transform: scale(1.3);
    z-index: 9999;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.service-name {
    font-family: "Michroma", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--kolor-akcentu);
    transition: all 0.3s ease-in-out;
}

.service-desc {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width: 90%;
    text-align: center;
    pointer-events: none;
}

/* Efekt hover */
.service-tile:hover .service-icon {
    transform: translateY(-100%) scale(0.5);
}
.service-tile:hover .service-name {
    transform: translateY(-100px) scale(0.8);
}
.service-tile:hover .service-desc {
  opacity: 1;
  transform: translateX(-50%);
}
.services-grid:hover .service-tile {
  opacity: 0.5;
}
.services-grid:hover .service-tile:hover {
  opacity: 1;
}

/* ============================= */
/* ========= Opinie ============ */
/* ============================= */
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2vh;
  padding: 20px;
  justify-items: center;
}

/* Pojedynczy kafelek opinii */
.review-tile {
  background-color: #1e1f23;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 20vw;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Hover efekt */
.review-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

/* Gwiazdki */
.review-stars {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--kolor-akcentu)
}

/* Tytuł opinii */
.review-title {
  font-family: "Michroma", sans-serif;
  margin: 0 0 10px 0;
}

/* Treść opinii */
.review-text {
  font-family: "Lato", sans-serif;
  font-size: 1em!important;
  line-height: 1.;
  text-align: justify;
  text-justify: inter-word;
}


/* ============================= */
/* ========= FOOTER ============ */
/* ============================= */
.footer {
    background: #121316;
    color: #ccc;
    text-align: center;
    padding: 2rem 1rem 1rem;
    font-family: "Lato", sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;
}

.footer-left h2 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-family: "Michroma", sans-serif;
    letter-spacing: 0.05em;
}
.footer-left p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #aaa;
}
.footer-left a,
.footer-bottom a {
    color: var(--kolor-akcentu);
    text-decoration: none;
}
.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-right a {
    color: #fff;
    transition: transform 0.2s ease, color 0.2s ease;
}
.footer-right a:hover {
    transform: scale(1.2);
    color: var(--kolor-akcentu);
}
.footer-right svg {
    width: 28px;
    height: 28px;
}

.footer-bottom {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #666;
}

/* ============================= */
/* ======= MEDIA QUERIES ======= */
/* ============================= */

/* FOOTER */
@media (max-width: 700px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

/* SERVICES MOBILE */
@media (max-width: 720px) {
    .services-grid {
        grid-template-columns: 1fr;
        gap: 1vh;
    }
    .service-tile {
        width: 70vw;
        min-height: 70vw;
        padding: 20px;
    }
    .service-name { font-size: 5vw; }
    .service-desc { font-size: 3.5vw; }

    .service-tile.active .service-icon,
    .service-tile.active .service-name {
        transform: translateY(-100px), scale(0.8)!important;

    }
    .service-tile.active .service-desc {
        opacity: 1;
        transform: translateX(-50%) translateY(-10%);
    }
    .service-tile:hover.service-desc {
        opacity: 0!important;
    }
    .service-tile.active {
        margin: 50px 0;
        transform: scale(1.2)!important;
    }
    .service-tile:hover {
        transform: scale(1);
    }
}

/* OPINIE MOBILE */
@media (max-width: 768px) {
    .reviews-grid {
        grid-template-columns: 1fr;
        gap: 2vh;
    }
    .review-tile {
        max-width: 90vw;
    }
}

/* GŁÓWNY UKŁAD MOBILE */
@media (max-width: 768px) {
    .container { flex-direction: column; }
    .car-info { flex: 1; }

    .slider-container,
    .main_slider-container {
        position: relative;
        width: 100vw;
        
    }
    .slider, .main_slider {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .slide, .main_slide {
      object-fit: contain;
    }
    .main_slide { opacity: 0.3; }

    .company-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.2);
        color: white;
        z-index: 10;
        text-align: center;
        width: 100vw;
    }
    .section_container { flex-direction: column; }

    .company-info h1 { font-size: 7vw; }
    .company-info p { font-size: 4vw; }
    .section-header h1 { font-size: 7vw; }

}
